name: Recent Activity

on:
  schedule:
    - cron: '0 * * * *' # Run every hour
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-readme:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "Refreshed recent activity feed"
          MAX_LINES: 5
